
$dark: #252525;
$medium: #303030;
$light: #444444;
$lightest: #9e9e9e;

$accent: #f5602a;
$accent-hover: #f77141;

// Overrides
$popover-arrow-color: $dark !default;

// Alternates
// yellow : #fcd736
