
// ---------- IMPORTS ----------
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";

// ---------- GLOBAL ----------
.green {
  color: #10ca10 !important;
}

.red {
  color: red !important;
}

.accent {
  color: $accent;
}

.no-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.no-padding {
  padding: 0;
}

.subheader {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 0 15px 3px;
}

.material-icon {
  width: 30px;
  height: 30px;
  font-size: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 20px;
  color: $dark-grey;
  background-color: $accent;
  cursor: pointer;
  -webkit-text-stroke: 2px $accent !important;
}

input[type="text"] {
  &:focus {
    box-shadow: none;
    border: none;
  }
}

.custom-btn {
  background-color: $accent;
  color: white;

  &:hover, &:focus, &:active {
    outline: none !important;
    color: white;
    -webkit-box-shadow: 0 0 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 9px -1px rgba(0,0,0,1);
    box-shadow: 0 0 9px -1px rgba(0,0,0,1);
  }
}

.flash-message {
  .alert-danger {
    background-color: #c63332;
    border-color: #c63332;
    color: white;
  }
}

// ---------- STYLES ----------
html, body {
  height: 100%;
  min-height: 100%;
  background-color: $dark-grey;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: relative;
}

.body {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 60px;
}

.navbar-fixed-top {
  height: 55px;
  background-color: $dark-grey;
  margin-bottom: 0;

  .header {
    width: 22%;

    .navbar-header {
      padding-top: 10px;
      color: white;
    }
  }

  .navbar-nav {
    i {
      font-size: 20px;
      padding-right: 7px;
    }
  }

  .search-bar {
    margin-top: 10px;
    color: white;
    background-color: $grey;
    border: 0 solid $grey;
    border-radius: 5px;
  }

  li {
    &:hover, &:focus {
      border-bottom: 3px solid $accent;
      background-color: transparent;
      height: 50px;
    }

    > a {
      color: white;
      height: 55px;
      padding-top: 17px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
}

.full-height {
  padding-bottom: 100%;
  margin-bottom: -100%;
  overflow: hidden;
}

// ---------- LEFT SIDEBAR ----------
.left-sidebar {
  background-color: $dark-grey;
  width: 22%;

  .watchlist, .groups {
    text-align: center;

    .subheader {
      margin-top: 20px;
    }

    .side-header {
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 1px solid #757575;

      .material-icon {
        margin-top: 12px;
        margin-left: 19px;
      }
    }

    .watch-header,.group-header {
      float: left;
    }

    .watch-item {
      height: 50px;
      margin: 0 5px 5px;
      padding-top: 5px;
      border-bottom: 1px solid $grey;
      padding-left: 15px;
      padding-right: 15px;

      .ticker {
        color: white;
        text-align: left;
        font-size: 14px;
      }

      .price-holder {
        .current-price {
          color: white;
          text-align: right;
          font-size: 14px;
          margin-top: 8px;
        }
      }

      .percent-change {
        color: white;
        text-align: right;
        font-size: 14px;
        margin-top: 8px;
      }

      .company-name {
        text-align: left;
        font-size: 13px;
        color: $light-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0;
      }
    }

    .group-item {
      border-bottom: 1px solid $grey;
      height: 44px;
      margin: 0 5px 5px;
      padding-top: 3px;

      .group-name {
        text-align: left;
        color: white;
        padding-top: 10px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .groups {
    margin-top: 25px;
  }
}

// ---------- RIGHT SIDEBAR ----------
.right-sidebar {
  width: 22%;
  background-color: $medium-grey;
}

// ---------- CENTER CONTENT ----------
.center-content {
  width: 56%;
  border-top-left-radius: 5px;
}

.new-group {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $medium-grey;

  .subheader {
    color: $accent;
    margin-top: 20px;
    padding-bottom: 0;
  }

  .helper-text {
    margin-left: 15px;
    color: $light-grey;
    font-size: 14px;
  }

  .join {
    margin-top: 15px;
    border-radius: 5px;
    background-color: $grey;
    padding: 15px 15px 30px;

    .suggested-groups {
      .suggested-header {
        color: white;
      }

      .suggested-group-item {
        .group-img {
          width: 30px;
          height: 30px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;

          img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
          }
        }

        .group-name {
          color: $light-grey;
          padding-top: 5px;
        }
      }
    }

    .flash-message-mini {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -20px;

      .alert-danger {
        background-color: transparent;
        border: none;
        color: red;
      }
    }

    .btn {
      float: right;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .create {
    margin-top: 15px;
    border-radius: 5px;
    background-color: $grey;
    padding: 15px 15px 30px;

    .btn {
      float: right;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  form {
    margin-top: 10px;

    label {
      color: white;
      font-weight: normal;

      span {
        padding-left: 5px;
      }
    }
    
    input {
      color: white;
      background-color: $medium-grey;
      border: 0;
      border-radius: 5px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
