
// ---------- IMPORTS ----------
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "bootstrap";


// ---------- GLOBAL ----------
.green {
  color: #10ca10 !important;
}
.red {
  color: red !important;
}
.accent {
  color: $accent;
}

.no-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.no-padding {
  padding: 0;
}

.field-row {
  padding-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.subheader {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 0 15px 3px;
}

.material-icon {
  width: 30px;
  height: 30px;
  font-size: 17px;
  padding-top: 4px;
  padding-left: 2px;
  border-radius: 20px;
  color: $dark-grey;
  background-color: $accent;
  cursor: pointer;
  -webkit-text-stroke: 2px $accent !important;

  &:hover {
    background-color: $accent-hover;
    -webkit-text-stroke: 2px $accent-hover !important;
  }
}

label {
  i {
    padding-left: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

input[type="text"] {
  &:focus {
    box-shadow: none;
    border: none;
  }
}

.custom-btn {
  background-color: $accent;
  color: white;

  &:hover, &:focus, &:active {
    outline: none !important;
    color: white;
    background-color: $accent-hover;
 }
}

.google-btn {
  background-color: #c0372a;
  padding-left: 8px;
  padding-right: 8px;

  &:hover {
    background-color: #9e3429;
  }
}

.flash-message {
  .alert-danger {
    background-color: #c63332;
    border-color: #c63332;
    color: white;
  }
}

// ---------- STYLES ----------
html, body {
  height: 100%;
  min-height: 100%;
  background-color: $dark-grey;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: relative;
}

.body {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 60px;
}

.navbar-fixed-top {
  height: 55px;
  background-color: $medium-grey;
  margin-bottom: 0;

  .side {
    width: 22%;

    .navbar-header {
      padding-top: 10px;
      color: white;
    }

    .buttons {
      margin-top: 10px;

      .join {
        padding: 5px 15px;
      }
    }
  }

  .profile {
    margin-top: 8px;

    .profile-name {
      color: white;
      display: inline-block;
      margin-right: 8px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      cursor: pointer;

      .profile-img {
        border-radius: 50%;
        width: 40px;
        background-color: $accent;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        color: white;
        background-color: $medium-grey;
        min-width: 150px;
        border-radius: 5px;
        z-index: 1;

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            color: $accent;
          }

          .item {
            padding: 8px 0 8px 10px;
          }

          .bottom {
            border-bottom: 1px solid $grey;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }

  .navbar-nav {
    i {
      font-size: 20px;
      padding-right: 7px;
    }
  }

  .search-bar {
    margin-top: 10px;
    color: white;
    background-color: $dark-grey;
    border: 0 solid $dark-grey;
    border-radius: 5px;
  }

  li {
    &:hover, &:focus {
      border-bottom: 3px solid $accent;
      background-color: transparent;
      height: 50px;
      -webkit-transition: .2s;
      transition: .2s;
    }

    > a {
      color: white;
      height: 55px;
      padding-top: 17px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}

.full-height {
  padding-bottom: 100%;
  margin-bottom: -100%;
  overflow: hidden;
}

// ---------- LEFT SIDEBAR ----------
.left-sidebar {
  background-color: $medium-grey;
  width: 22%;

  .watchlist, .rooms {
    text-align: center;

    .subheader {
      margin-top: 20px;
    }

    .side-header {
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 1px solid #757575;

      .material-icon {
        margin-top: 12px;
        margin-left: 19px;
      }
    }

    .watch-header,.room-header {
      float: left;
    }

    .watch-item {
      height: 50px;
      margin: 0 5px 5px;
      padding-top: 5px;
      border-bottom: 1px solid $grey;
      padding-left: 15px;
      padding-right: 15px;

      .ticker {
        color: white;
        text-align: left;
        font-size: 14px;
      }

      .price-holder {
        .current-price {
          color: white;
          text-align: center;
          font-size: 14px;
          margin-top: 8px;
        }
      }

      .percent-change {
        color: white;
        text-align: right;
        font-size: 14px;
        margin-top: 8px;
      }

      .company-name {
        text-align: left;
        font-size: 13px;
        color: $light-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0;
      }
    }

    .room-item {
      border-bottom: 1px solid $grey;
      height: 44px;
      margin: 0 5px 5px;
      padding-top: 3px;

      .room-name {
        text-align: left;
        color: white;
        padding-top: 10px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .empty {
        text-align: center;
        color: $light-grey;
        padding-top: 10px;
        font-size: 14px;
      }
    }
  }

  .rooms {
    margin-top: 25px;
  }
}

// ---------- RIGHT SIDEBAR ----------
.right-sidebar {
  width: 22%;
  background-color: $dark-grey;
}

// ---------- CENTER CONTENT ----------
.center-content {
  width: 56%;
}

.home-center {
  background-color: $dark-grey;
}

.room {
  background-color: $dark-grey;
}

.new-room {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $dark-grey;

  .subheader {
    color: $accent;
    margin-top: 20px;
    padding-bottom: 0;
  }

  .helper-text {
    margin-left: 15px;
    color: $light-grey;
    font-size: 14px;
  }

  .join {
    margin-top: 15px;
    background-color: $medium-grey;
    padding: 15px 15px 30px;

    .suggested-rooms {
      .suggested-header {
        color: white;
      }

      .suggested-room-item {
        .room-img {
          width: 30px;
          height: 30px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;

          img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
          }
        }

        .room-name {
          color: $light-grey;
          padding-top: 5px;
        }
      }
    }

    .flash-message-mini {
      margin-right: 15px;
      margin-top: -20px;

      .alert-danger {
        background-color: transparent;
        border: none;
        color: red;
      }
    }

    .btn {
      float: right;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 20px;
    }
  }

  .create {
    margin-top: 15px;
    background-color: $medium-grey;
    padding: 15px 15px 30px;

    .btn {
      float: right;
      padding-left: 17px;
      padding-right: 17px;
      margin-top: 20px;
    }

    .error {
      padding-left: 2px;
      color: red;
    }
  }

  form {
    margin-top: 10px;

    label {
      color: white;
      font-weight: normal;

      span {
        padding-left: 5px;
      }
    }
    
    input {
      color: white;
      background-color: $dark-grey;
      border: 0;
      border-radius: 5px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.welcome {
  .welcome-header {
    color: white;
    font-size: 65px;
    text-align: center;
    margin-top: 5%;
  }

  .helper-text {
    text-align: center;
    font-size: 25px;
    color: $light-grey;
    margin-top: -15px;
  }

  .account-buttons {
    text-align: center;
    margin-top: 2%;

    .join-btn {
      padding-left: 45px;
      padding-right: 45px;
      margin-right: 20px;
    }

    .login-btn {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .join-panel, .login-panel {
    background-color: $medium-grey;
    margin-top: 20px;
    border-radius: 5px;

    form {
      padding: 25px;

      #username-error, #email-error {
        display: none;
      }

      .header {
        color: white;
        font-size: 20px;
        text-align: left;
      }

      .form-group {
        text-align: left;

        label {
          color: white;
          font-weight: normal;
        }

        input, select {
          color: white;
          background-color: $dark-grey;
          border: 0;
          border-radius: 5px;

          &:focus {
            box-shadow: none;
          }
        }
      }

      .btn {
        float: right;
      }
    }
  }
}
