
// ---------- IMPORTS ----------
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";


// ---------- STYLES ----------
html, body {
  height: 100%;
  min-height: 100%;
  background-color: $medium-grey;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: relative;
}

.body {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 60px;
}

.navbar-fixed-top {
  height: 55px;
  background-color: $dark-grey;
  margin-bottom: 0;

  .navbar-header {
    padding-top: 10px;
    color: white;
  }

  .navbar-nav {
    i {
      font-size: 20px;
      padding-right: 7px;
    }
  }

  .search-bar {
    margin-top: 10px;
    color: white;
    background-color: $grey;
    border: 0 solid $grey;
    border-radius: 5px;

    &:focus {
      box-shadow: none;
    }
  }

  li {
    &:hover, &:focus {
      border-bottom: 3px solid white;
      background-color: transparent;
      height: 50px;
    }

    > a {
      color: white;
      height: 55px;
      padding-top: 17px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
}

.full-height {
  padding-bottom: 100%;
  margin-bottom: -100%;
  overflow: hidden;
}

// ---------- LEFT SIDEBAR ----------
.watchlist, .groups {
  text-align: center;

  .subheader {
    margin-top: 20px;
  }

  .side-header {
    margin-left: 5px;
    margin-right: 5px;
  }

  .watch-header, .group-header {
    float: left;
  }

  .watch-item {
    height: 50px;
    margin: 0 5px 5px;
    padding-top: 5px;
    border-bottom: 1px solid $grey;

    .ticker {
      color: white;
      text-align: left;
      font-size: 15px;
    }

    .current-price {
      color: white;
      text-align: right;
      font-size: 15px;
      margin-bottom: 0;
    }

    .percent-change {
      color: white;
      text-align: right;
      font-size: 13px;
      margin-bottom: 0;
    }

    .company-name {
      text-align: left;
      font-size: 13px;
      color: $light-grey;
    }
  }

  .group-item {
    border-bottom: 1px solid $grey;
    height: 44px;
    margin: 0 5px 5px;
    padding-top: 3px;

    .group-name {
      text-align: left;
      color: white;
      padding-top: 10px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.groups {
  margin-top: 25px;
}

// ---------- NEW GROUP ----------
.new-group {
  margin: 32px 15px 0;

  .subheader {
    margin-top: 20px;
    padding-bottom: 0;
  }

  .helper-text {
    margin-left: 15px;
    color: $light-grey;
    font-size: 14px;
  }

  .join {
    margin-top: 15px;
    border-radius: 5px;
    background-color: $grey;
    padding: 10px;
  }

  .create {
    margin-top: 15px;
    border-radius: 5px;
    background-color: $grey;
    padding: 10px;
  }

  form {
    margin-top: 10px;

    label {
      color: white;
      font-weight: normal;
    }
    
    input {
      color: white;
      background-color: $grey;
      border: 0 solid $grey;
      border-radius: 5px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

// ---------- GLOBAL ----------
.green {
  color: $green !important;
}

.red {
  color: red !important;
}

.no-left {
  padding-left: 0;
}

.no-padding {
  padding: 0;
}

.subheader {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 0 15px 3px;
}

.material-icon {
  width: 35px;
  height: 35px;
  font-size: 18px;
  padding-top: 7px;
  border-radius: 19px;
  color: white;
  background-color: $grey;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0 0 9px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 9px -1px rgba(0,0,0,0.5);
    box-shadow: 0 0 9px -1px rgba(0,0,0,0.5);
  }
}